@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffc00,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffc00,
    #e1eec3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  padding-top: 2%;
}

.form-register {
  width: 400px;
  height: auto;
  background: #ffffff;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: "calibri";
  color: black;
  box-shadow: 1px 1px 2px 3px #f9ffc1; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: black;
  text-decoration: underline;
}

.form-register a:hover {
  color: black;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: linear-gradient(to left, #f8f68a, #e1eec3);
  border: none;
  padding: 12px;
  color: black;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.botons a:hover{
  color: black;
}

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/

.btn-menu label {
  color: black;
  font-size: 25px;
  cursor: pointer;
}
